#page-layout {
    display: flex;
    justify-content: space-between;
}

#page-left {
    width: 50%;
    margin-left: 15px;
}
#page-right {
    width: 40%;
}

#button-group {
    width: inherit;
}

.page-name {
    font-size: 36px;
}

.subsection {
    margin-top: 50px;
}

/*************** font *****************/
.section-title {
    font-size: 36px;
    font-weight: 800;
}
.section-subtitle {
    font-size: 24px;
    font-weight: 400;
}

.description {
    font-size: 16px;
}

/*------banner-------*/
#banner {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#banner img {
    height: 64px;
    width: auto;
}

#banner h1 {
    font-size: 36px;
    color: rgb(32, 178, 170);
    margin-bottom: 0px;
}
/*********************** see page button *************************/
.see-page p {
    margin: 0px;
    font-size: small;
}

.see-page {
    margin-left: 10px;
    display: flex;
    justify-content: left;
}

.section-title-container {
    display: flex;
    justify-content: left;
}

/*************** page buttons ****************/
.page-buttons {
    z-index: 100;
    position: fixed;
    top: 5%;
    right: 0px;
    display: flex;
    justify-content: space-between;
}

#change-model,
#back-button {
    margin: 10px 20px;
    width: 64px;
}

#model-list {
    z-index: 100;
    position: fixed;
    top: 100px;
    right: 130px;
    padding: 0px 20px;
    background: white;
    border: solid 2px lightseagreen;
}

#model-list p {
    font-size: medium;
}

#model-list-title {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

/******************** Paper View ***********************/
#the-canvas {
    position: absolute;
    top: 130px;
    right: 0px;
}

/********* interactive panel (conv) **************/
#conv-interactive-panel {
    margin: 5px 0px;
    padding-bottom: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: left;
}

#conv-interactive-panel .input-group {
    width: 270px;
    padding: 5px 0px; /*top-right-bottom-left*/
}

#conv-interactive-panel .choose-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#conv-input-candidate {
    padding: 0px 20px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-input-candidate img {
    width: 68px;
    height: auto;
}

/*hovered position input*/
#input-filter-conv .grid .square {
    opacity: 0.5;
    fill: rgb(100, 167, 206);
    stroke: black;
}

#conv-interactive-panel .input-tooltip {
    position: absolute;
    top: 0;
    left: 0;
}

#conv-output .output-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#conv-output .output-tooltip rect {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

#conv-interactive-panel .input-tooltip img {
    width: 15px;
    height: auto;
}

/*filter*/
#conv-interactive-panel .filter-group {
    width: 240px;
    padding: 5px 0px; /*top-right-bottom-left*/
}

#conv-filter-candidate {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-filter-candidate img {
    width: 60px;
    height: auto;
}

#conv-filter-name {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-filter-name p {
    margin-top: 10px;
    width: 30%;
    text-align: center;
    font-size: small;
}

#conv-input {
    margin: 10px 0px 5px 10px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.chosen-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

#input-filter-conv {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

#conv-filter {
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

#conv-interactive-panel .output-group {
    width: 250px;
}

#conv-interactive-panel .output-group .interactive-how-to {
    display: flex;
    justify-content: flex-end;
}

#conv-interactive-panel .output-group .interactive-how-to .how-to-icon {
    width: 32px;
    padding-right: 10px;
}

#conv-output-img {
    width: 230px;
    height: 230px;
    margin-top: 100px;
    margin-left: 5px;
}

/*output*/
.operation-arrow-group p {
    position: relative;
    top: 220px;
    font-size: large;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.operation-arrow {
    width: 28px;
    height: auto;
    position: relative;
    top: 230px;
    margin-left: 3px;
}

/**************** interactive panel (pool) ****************/
#pool-interactive-panel {
    margin: 5px 0px;
    padding-bottom: 10px;
    background-color: white;
    border: 3px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: left;
}

#pool-interactive-panel .input-group {
    width: 270px;
    padding: 5px; /*top-right-bottom-left*/
}

#pool-interactive-panel .choose-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#pool-input-candidate {
    padding: 0px 20px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#pool-input-candidate img {
    width: 68px;
    height: auto;
}

/*hovered position input*/
#pooling-process .grid .square {
    opacity: 0.5;
    fill: rgb(100, 167, 206);
    stroke: black;
}

#pool-interactive-panel .input-tooltip {
    position: absolute;
    top: 0;
    left: 0;
}

#pool-output .output-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#pool-output .output-tooltip rect {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

#pool-interactive-panel .input-tooltip img {
    width: 11px;
    height: auto;
}

/*filter*/
#pool-interactive-panel .filter-group {
    width: 290px;
    padding: 5px 0px; /*top-right-bottom-left*/
}

#pool-filter-candidate {
    padding: 0px 5px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#pool-filter-candidate img {
    width: 135px;
    height: auto;
    border: 1px solid gray;
}

#pool-filter-candidate svg {
    position: absolute;
    top: 0px;
    left: 0px;
}

#pool-filter-candidate rect {
    fill: none;
    stroke: lightseagreen;
    stroke-width: 3px;
}

#pool-filter-name {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#pool-filter-name p {
    margin-top: 10px;
    width: 135px;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

/* pooling process */
#pooling-arrow img {
    width: 50px;
}

#pooling-arrow p {
    margin: 0px;
    width: 50px;
    font-size: small;
    text-align: center;
}

#pooled-pixel svg {
    margin-top: 20px;
}

#pool-input {
    margin: 5px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

#pooling-process {
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
}

/* pooling state message*/
.input-not-selected,
.pooling-not-selected,
.filter-not-selected {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    font-size: medium;
    color: red;
}

.input-selected,
.pooling-selected,
.filter-selected {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    font-size: medium;
    color: green;
}

/* output */
#pool-output-img {
    width: 120px;
    height: 120px;
    margin-top: 145px;
    margin-left: 5px;
}

#pool-interactive-panel .output-group {
    width: 160px;
}

#pool-interactive-panel .output-group .interactive-how-to {
    display: flex;
    justify-content: flex-end;
}

#pool-interactive-panel .output-group .interactive-how-to .how-to-icon {
    width: 32px;
    padding-right: 10px;
}

#conv-how-to,
#pool-how-to {
    width: 600px;
    height: auto;
    position: absolute;
    top: 300px;
    right: 150px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

/**/
.fold {
    display: none;
}
