.page-layout {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.page-layout .model-name {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: lightseagreen;
    margin-bottom: 5px;
}

.page-layout .paper-ref {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px;
}

.page-layout .paper-authors {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 25px 0px;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
}
.section-subtitle {
    font-size: 24px;
    font-weight: 400;
}

.description {
    font-size: 16px;
}

.model-images {
    width: 100%;
    border: 1px solid gray;
}

/********* model structure **************/
#model-struct {
    width: 100%;
}

#plus-conv {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: auto;
    top: 1000px;
    left: 31%;
}

#plus-pool {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: auto;
    top: 1000px;
    left: 33.5%;
}

#plus-fc {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: auto;
    top: 990px;
    left: 70%;
}

/********* interactive panel (conv) **************/
#conv-interactive-panel {
    margin: 5px 0px;
    padding-bottom: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: left;
}

#conv-interactive-panel .input-group {
    width: 270px;
    padding: 5px 0px; /*top-right-bottom-left*/
}

#conv-interactive-panel .choose-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#conv-input-candidate {
    padding: 0px 20px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-input-candidate img {
    width: 68px;
    height: auto;
}

/*hovered position input*/
#input-filter-conv .grid .square {
    opacity: 0.5;
    fill: rgb(100, 167, 206);
    stroke: black;
}

#conv-interactive-panel .input-tooltip {
    position: absolute;
    top: 0;
    left: 0;
}

#conv-output .output-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#conv-output .output-tooltip rect {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

#conv-interactive-panel .input-tooltip img {
    width: 15px;
    height: auto;
}

/*filter*/
#conv-interactive-panel .filter-group {
    width: 240px;
    padding: 5px 0px; /*top-right-bottom-left*/
}

#conv-filter-candidate {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-filter-candidate img {
    width: 60px;
    height: auto;
}

#conv-filter-name {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-filter-name p {
    margin-top: 10px;
    width: 30%;
    text-align: center;
    font-size: small;
}

#conv-input {
    margin: 10px 0px 5px 10px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.chosen-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

#input-filter-conv {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

#conv-filter {
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

#conv-interactive-panel .output-group {
    width: 250px;
}

#conv-interactive-panel .output-group .interactive-how-to {
    display: flex;
    justify-content: flex-end;
}

#conv-interactive-panel .output-group .interactive-how-to img {
    width: 32px;
    padding-right: 10px;
}

#conv-output-img {
    width: 230px;
    height: 230px;
    margin-top: 100px;
    margin-left: 5px;
}

/*output*/
.operation-arrow-group p {
    position: relative;
    top: 220px;
    font-size: large;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.operation-arrow {
    width: 28px;
    height: auto;
    position: relative;
    top: 230px;
    margin-left: 3px;
}

/**************** interactive panel (pool) ****************/
#pool-interactive-panel {
    margin: 5px 0px;
    padding-bottom: 10px;
    background-color: white;
    border: 3px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: left;
}

#pool-interactive-panel .input-group {
    width: 270px;
    padding: 5px; /*top-right-bottom-left*/
}

#pool-interactive-panel .choose-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#pool-input-candidate {
    padding: 0px 20px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#pool-input-candidate img {
    width: 68px;
    height: auto;
}

/*hovered position input*/
#pooling-process .grid .square {
    opacity: 0.5;
    fill: rgb(100, 167, 206);
    stroke: black;
}

#pool-interactive-panel .input-tooltip {
    position: absolute;
    top: 0;
    left: 0;
}

#pool-output .output-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#pool-output .output-tooltip rect {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

#pool-interactive-panel .input-tooltip img {
    width: 11px;
    height: auto;
}

/*filter*/
#pool-interactive-panel .filter-group {
    width: 290px;
    padding: 5px 0px; /*top-right-bottom-left*/
}

#pool-filter-candidate {
    padding: 0px 5px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#pool-filter-candidate img {
    width: 135px;
    height: auto;
    border: 1px solid gray;
}

#pool-filter-candidate svg {
    position: absolute;
    top: 0px;
    left: 0px;
}

#pool-filter-candidate rect {
    fill: none;
    stroke: lightseagreen;
    stroke-width: 3px;
}

#pool-filter-name {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#pool-filter-name p {
    margin-top: 10px;
    width: 135px;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

/* pooling process */
#pooling-arrow img {
    width: 50px;
}

#pooling-arrow p {
    margin: 0px;
    width: 50px;
    font-size: small;
    text-align: center;
}

#pooled-pixel svg {
    margin-top: 20px;
}

#pool-input {
    margin: 5px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

#pooling-process {
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
}

/* pooling state message*/
.input-not-selected,
.pooling-not-selected,
.filter-not-selected {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    font-size: medium;
    color: red;
}

.input-selected,
.pooling-selected,
.filter-selected {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    font-size: medium;
    color: green;
}

/* output */
#pool-output-img {
    width: 120px;
    height: 120px;
    margin-top: 145px;
    margin-left: 5px;
}

#pool-interactive-panel .output-group {
    width: 160px;
}

#pool-interactive-panel .output-group .interactive-how-to {
    display: flex;
    justify-content: flex-end;
}

#pool-interactive-panel .output-group .interactive-how-to img {
    width: 32px;
    padding-right: 10px;
}

/*************** page buttons ****************/
.page-buttons {
    z-index: 100;
    position: fixed;
    top: 5%;
    right: 0px;
    display: flex;
    justify-content: space-between;
}

#change-model,
#back-button {
    margin: 10px 20px;
    width: 64px;
}

#model-list {
    z-index: 100;
    position: fixed;
    top: 100px;
    right: 130px;
    padding: 0px 20px;
    background: white;
    border: solid 2px lightseagreen;
}

#model-list p {
    font-size: medium;
}

#model-list-title {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

/********************** floating menu ***************************/
.floating-menu {
    font-family: sans-serif;
    background: lightseagreen;
    padding: 5px;
    width: 130px;
    z-index: 100;
    position: fixed;
    bottom: 40%;
    left: 5%;
}
.floating-menu a,
.floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
}
p {
    font-size: xx-large;
}

/*********** paper *******************/
.paper-group {
    position: fixed;
    padding: 0px 10px;
    right: 5px;
    top: 15%;
    width: 24%;
    height: 75%;
    background-color: beige;
    overflow: auto;
}

.paper-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fold {
    display: none;
}

.paper-description {
    font-size: medium;
}

/****************** code materials ***********************/
#code-mat-list {
    display: flex;
    justify-content: space-around;
}

.code-mat {
    width: 40%;
}

.reference {
    font-size: medium;
}

/******************** coverage ********************************/
#section-coverage {
    background-color: lightgrey;
    padding: 5px 10px;
}
