.page-layout {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.model-name {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: lightseagreen;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
}
.section-subtitle {
    font-size: 24px;
    font-weight: 400;
}

.description {
    font-size: 16px;
}

/********* model structure **************/
#model-struct {
    width: 100%;
}

#plus-conv {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: auto;
    top: 1000px;
    left: 31%;
}

#plus-pool {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: auto;
    top: 1000px;
    left: 33.5%;
}

#plus-fc {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: auto;
    top: 990px;
    left: 70%;
}

/********* interactive panel **************/
#conv-interactive-panel {
    margin: 5px 15px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: left;
}

#conv-interactive-panel .input-group {
    width: 270px;
    padding: 5px; /*top-right-bottom-left*/
}

#conv-interactive-panel .choose-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#conv-input-candidate {
    padding: 0px 20px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-input-candidate img {
    width: 68px;
    height: auto;
}

/*hovered position input*/
#input-filter-conv .grid .square {
    opacity: 0.5;
    fill: rgb(100, 167, 206);
    stroke: black;
}

#conv-interactive-panel .input-tooltip {
    position: absolute;
    top: 0;
    left: 0;
}

#conv-output .output-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#conv-output .output-tooltip rect {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

#conv-interactive-panel .input-tooltip img {
    width: 15px;
    height: auto;
}

/*filter*/
#conv-interactive-panel .filter-group {
    width: 240px;
    padding: 5px; /*top-right-bottom-left*/
}

#conv-filter-candidate {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-filter-candidate img {
    width: 60px;
    height: auto;
}

#conv-filter-name {
    padding: 0px 10px; /*top-left*/
    display: flex;
    justify-content: space-between;
}

#conv-filter-name p {
    margin-top: 10px;
    width: 30%;
    text-align: center;
    font-size: small;
}

#conv-input {
    margin: 5px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.chosen-text {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

#input-filter-conv {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

#conv-filter {
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.output-group {
    width: 250px;
}

.output-group .interactive-how-to {
    display: flex;
    justify-content: flex-end;
}

.output-group .interactive-how-to img {
    width: 32px;
    padding-right: 10px;
}

#conv-output-img {
    width: 230px;
    height: 230px;
    margin-top: 100px;
    margin-left: 5px;
}

/*output*/
.conv-arrow {
    width: 32px;
    height: auto;
    position: relative;
    top: 50px;
}

/****************** interactive 2 ******************/
#stride-interactive-panel {
    background: gainsboro;
}

#stride-interactive-panel p {
    padding: 10px;
}

/*************** page buttons ****************/
.page-buttons {
    z-index: 100;
    position: fixed;
    top: 5%;
    right: 0px;
    display: flex;
    justify-content: space-between;
}

#change-model,
#back-button {
    margin: 10px 20px;
    width: 64px;
}

#model-list {
    z-index: 100;
    position: fixed;
    top: 100px;
    right: 130px;
    padding: 0px 20px;
    background: white;
    border: solid 2px lightseagreen;
}

#model-list p {
    font-size: medium;
}

#model-list-title {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

/********************** floating menu ***************************/
.floating-menu {
    font-family: sans-serif;
    background: lightseagreen;
    padding: 5px;
    width: 130px;
    z-index: 100;
    position: fixed;
    bottom: 40%;
    left: 5%;
}
.floating-menu a,
.floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
}
p {
    font-size: xx-large;
}

/*********** paper *******************/
.paper-group {
    position: fixed;
    padding: 0px 10px;
    right: 5px;
    top: 15%;
    width: 24%;
    height: 75%;
    background-color: beige;
    overflow: auto;
}

.paper-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fold {
    display: none;
}

.paper-description {
    font-size: medium;
}

/****************** code materials ***********************/
#code-mat-list {
    display: flex;
    justify-content: space-around;
}

.code-mat {
    width: 40%;
}

.reference {
    font-size: medium;
}

/******************** coverage ********************************/
#section-coverage {
    background-color: lightgrey;
    padding: 5px 10px;
}
